.explain-content-box {
    display: flex;
    justify-content: space-between;
}

.explain-origin-box {
    border: 1px solid;
    border-radius: 0.5rem;
    width: 47%;
    max-height: 28vw;
    overflow: scroll;
    overflow-x: hidden;
}

.explain-translate-box {
    border: 1px solid;
    border-radius: 0.5rem;
    width: 47%;
    max-height: 28vw;
    overflow: scroll;
    overflow-x: hidden;
}