.button-main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(0, 0, 0, 0.95);
  }
  
  .main-buttons {
    display: grid;
    padding : 20px;
    grid-template-columns: 10fr 1fr 5fr;
    gap: 20px;
    margin: 15px 0;
  }


    
